@import "~bootstrap/scss/bootstrap";

$theme-colors: (
  "info": tomato,
  "danger": teal,
);

body {
  background: #ffffff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.navbar {
 .container{ max-width: 100vw;}
  .nav-logo {
    height: 53px;
  }
  .navbar-collapse {
    justify-content: end;
  }
  .logout-btn {
    border-radius: 6px;
    background-color: #1a9e69;
    text-align: center;
    padding: 6px !important;
  }
  .logout-btn a {
    color: #fff;
  }
}
.home {
  .intro {
    width: 100%;
    min-height: 320px;
    background: #540f7a;
    padding: 100px;
    color: #fcfafa;
    margin: auto;
  }
  .asset-box {
    background: #702f9f;
    color: #fcfafa;
  }
  .tabs-container {
    .nav-link {
      border-radius: 32px;
      background: #a172c0ad;
      width: 188px;
      color: #7c037b;
      padding: 9px;
      margin: 0px 20px;
    }
    .active,
    .nav-link:hover {
      background-color: #540f7a !important;
      font-weight: 500;
      color: #fff;
    }
  }
  .bond {
    min-height: 300px;
    border-radius: 24px;
    .bond-card {
      min-height: 250px;
      border-radius: 10px;
      background: #a670c00d;
      border: 1px solid #86b7fe;
      display: -webkit-box;
      img {
        width: 200px;
        max-height: 270px;
        border-radius: 10px;
      }
      .card-body {
        width: calc(100% - 200px);
        .bond-value {
          color: #540f7a;
          font-weight: 700;
        }
        .invest-now {
          background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
          border-radius: 4px;
          align-items: center;
          text-align: center;
          color: #fcfafa;
          padding: 10px 30px;
          outline: none;
          border: none;
          margin-top: 20px;
        }
        .payment-proof {
          border-radius: 4px;
          align-items: center;
          text-align: center;
          color: #7c037b;
          padding: 10px 30px;
          outline: none;
          border: none;
          margin-top: 20px;
          margin-left: 20px;
          font-weight: 700;
          background: white;
          border: 2px solid #540f7a;
        }
        .holding-box {
          margin: auto;
          // max-width: 350px;
          .card-body {
            width: 100%;
            text-align: center;
          }
        }
      }
      .holding-body {
        max-width: 800px;
        margin: auto;
        .withdraw-btn {
          display: none;
        }
      }
    }
    .view-details {
      float: right;
      color: #540f7a;
      cursor: pointer;
    }
    .transaction-box {
      border: none;
      padding: 10px 20px;

      .transaction-list {
        background: #bca1d53d;
        padding: 13px;
        border-radius: 10px;
        margin-bottom: 10px;
        .color-success {
          color: green;
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    .tx-name {
      font-weight: 700;
    }
    .mobile-view {
      display: block;
      color: green;
      font-weight: bold;
    }
    .intro {
      padding: 30px;
    }
    .tabs-container {
      flex-wrap: nowrap;
      width: -webkit-fill-available;
      overflow: auto;
    }
    .asset-box {
      margin: 0px !important;
    }
    .bond {
      .bond-card {
        img {
          width: 100%;
        }
        display: block;
        .card-body {
          width: calc(100% - 0px);
        }
        .holding-body {
          .withdraw-btn {
            display: block;
          }
          .hold-box-2 {
            margin-top: 16px;
          }
        }
        .invest-now {
          width: 100%;
        }
        .payment-proof {
          margin-left: 0px !important;
          width: 100%;
        }
      }
      .transaction-list {
        font-size: 13px;
      }
      .table-heads {
        display: none;
      }
    }
  }
}
.mobile-view {
  display: none;
}

.layout{
  min-height: 100vh;
  background: radial-gradient(#FCFAFA, #FCFAFA, #bcaef0);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  // min-width: 100vw;
}
.new-home{
padding-bottom: 30px;
  .sub-con-1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .sub-con-1 p{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: rgba(2, 0, 10, 0.7);
    margin-top: 25px;
  }
  .sub-con-1 h1{
    font-weight: 700;
    font-size: 84px;
    // margin-top: 10px;
    text-align: center;
  }
  .span{
    background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
  .sub-con-2{
    width: 45%;
    margin-inline: auto;
    padding-inline: 30px;
  }
  .sub-con-2 p{
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: rgba(2, 0, 10, 0.8);
    padding-block: 45px;
    line-height: 1.8;
  }
  .sub-con-3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    margin: 35px 0;
  }
  .sub-con-3 button{
    padding: 20px;
    background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
    border-radius: 12px;
    color: #fcfafa;
    font-size: 24px;
    border: none;
    outline: none;
    line-height: 28px;
    font-style: normal;
    font-weight: 700;
    width: 15rem;
  }
  .con-2 h1{
    background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    margin-bottom: 28px;
  }
  .sub-con-4{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   padding: 20px;
   justify-content: start;
   gap: 20px;
   align-items: center;
  }
  .grid-con{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    min-height: 270px;
  }
  .grid-con h2{
    text-align: center;
    font-weight: bold;
    color: #212529;
    font-size: 30px;
  }
  .disclaimer{
    border: 2px solid #212529;
    padding: 15px 50px;
    margin-top: 30px;
  }
}

.lending{
  display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lending{
  .top-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 319px;
    background: #540f7a;
    padding: 100px;
    color: #fcfafa;
    border-bottom: 10px solid #a670c0;
  }
  .top-section h1{
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fcfafa;
  }
  .top-section p{
    color: rgba(252, 250, 250, 0.8);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    font-family: "Rubik";
    text-align: center;
    width: 60%;
    margin-top: 30px;
  }

  .toggle-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    border: 1px solid rgba(2, 0, 10, 0.25);
    border-radius: 48px;
    transform: translateY(-50%);
    width: 26.25rem;
  }

  .toggle-btns .active{
    background: #540f7a !important;
    color: #fcfafa !important;
    cursor: pointer;
  }
  .toggle-btns button{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 50%;
    border-radius: 64px;
    height:40px;
  }
  .connection-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(2, 0, 10, 0.25);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-radius: 12px;
    margin: 2.5rem 0px;
    width: 95%;
    padding: 20px;
    gap: 10px;
  }
  .connection-stats .deposit-inner-div{
    width:50%;
    display: block;
    background: rgba(166, 112, 192, 0.05);
    border: 1px solid rgba(2, 0, 10, 0.25);
    border-radius: 8px;
    padding: 20px;
  }
  .b-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96%;
  }
  .a-icon{
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    text-align: start;
    width:40%
  }

  .tether1{
    width:25% !important;
  }
  
  .assets-val{
    background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
    margin-left: 10px;
    font-size: 18px;
    line-height: 42px;
    font-weight: 500;
  }

   .d-bottom{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
    border: 1px solid #540f7a;
    // padding-right:5px;
  }
  .connection-stats .assets-inner-div{
    width:50%;
    display: block;
    background: rgba(166, 112, 192, 0.05);
    border: 1px solid rgba(2, 0, 10, 0.25);
    border-radius: 8px;
    padding: 20px;
  }

  .assets-inner-div .a-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

   .a-bottom{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
    border: 1px solid #540f7a;
  }

  .bond-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 25px;
  }
   .section-nav{
    background: #fcfafa;
    border: 1px solid rgba(84, 15, 122, 0.25);
    border-radius: 12px;
    min-width: 300px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem 0;
    min-height: 644px;
  }

   #p-network{
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
     margin-top: 0;
     border:0px;
  }

   #p-network button{
    font-style: normal;
    font-weight: 400 !important;
    font-size: 18px;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #7c037b;
    width: 90%;
    background: rgba(217, 217, 217, 0.25);
    border: 1px white;
    gap:5px;
  }

  .section-nav .toggle-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
  }
  .section-nav .toggle-nav-active{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap:10px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #540f7a;
    color:#ffffff;
  }

  .section-nav .toggle-nav img{
    margin-left: 15px;
    vertical-align: middle;
  }

  .section-nav .toggle-nav-active img{
    margin-left: 15px;
    vertical-align: middle;
  }

  .section-nav div p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
  }

  .lending .section-nav div p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
  }

   .section-content{
    border: 1px solid rgba(84, 15, 122, 0.25);
    border-radius: 12px;
    background: #fcfafa;
    margin-left: 30px;
    width: 1030px;
    min-height: 644px;
  }

   .section-content #section-txt{
    font-size: 2.2rem;
    line-height: 0px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #02000a;
    padding: 1.9rem;
    border: unset;
  }

  .bonds-container{
    border: 1px solid rgba(84, 15, 122, 0.25);
    border-radius: 12px;
    background: transparent;
    width: 96%;
    margin-inline: auto;
    display: flex; align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 25px;
  }
  .bonds-container img{
    width: 118px;
    height: 148px;
  }
  .bonds-sub-container{
   width: 100%;
  }
  .bonds-sub-container .tab-row{
    font-size: 14px;
    display: grid;
    align-items: start;
    justify-content: left;
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .bonds-sub-container .tab-row p{
    text-align: left;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
  }
  .bonds-sub-container .second {
    border: 1px solid rgba(84, 15, 122, 0.25);
    border-radius: 4px;
    padding: 8px;
    margin-top: 10px;
  }
  .bonds-sub-container .third {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    height: 60px;
  }
  .bonds-sub-container .third .third-tab p{
    margin-bottom: 5px;
    color: #7c037b;
    text-align: left;
  }
  .bonds-sub-container .third .third-tab p:first-child{
    margin-bottom: 15px;
   cursor: pointer;
  }
  .bonds-sub-container .btn-continue{
    background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
    border-radius: 4px;
    text-align: center;
    color: #fcfafa;
    outline: none;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.6rem 1.5rem;
    height: 100%;
    min-width: 200px;
  }
  .bonds-sub-container .second p{
    text-align: left;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 400;
  }
  .thead{
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: #f0e2f6;
    text-align: left;
    height: 49px;
    // border-top-right-radius: 12px;
    // border-top-left-radius: 12px;
  }
  .tbody{
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: #a670c00f;
    height: 42px;
    margin-block: 5px;
  }

  .thead th{
    font-weight: 400;
    text-align: center;
  }

  .tbody td:first-child,.tbody td:last-child{
   color:#7c037b;
   cursor:pointer

  }
  .tbody td:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    height: 100%;
    
  }
   .tbody td .span{
   display: block;
   background-color:rgb(25, 223, 25);
   border-radius: 100%;
   width: 10px;
   height: 10px;
  }
 
  .tbody td:first-child:hover,.tbody td:last-child:hover{
   scale:1.1
  }
  
  .section-content h3{
    font-size: 26px;
    line-height: 0px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #02000a;
    padding: 1.5rem;
    border: unset;
  }

  .inner-section{
    margin: 0 15px;
    display: flex;
    justify-content: center;
  }

  .leftSectionWallet{
    background-color: rgba(166, 112, 192, 0.05);
    width: 48%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid rgba(2, 0, 10, 0.25);
  }

  .leftSectionWallet .wallet-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .leftSectionWallet .wallet-heading p{
    margin: 0;
    color: rgba(2, 0, 10, 0.8);
    font-size: 19px;
    font-weight: 600;
  }

  .leftSectionWallet .wallet-heading .connectedText{
    background-color: #1a9e69;
    padding: 5px 20px;
    float: right;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #fcfafa;
  }

  .walletSubtitle{
    font-size: 18px;
    text-align: left;
    color: rgba(2, 0, 10, 0.5);
    margin: 1rem 0;
    font-weight: 600;
  }

  .walletValues{
    background-color: rgba(130, 71, 229, 0.1);
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
  }

  .leftSectionWallet .walletValues .copyIcon{
    padding: 6px 12px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px #dddddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .leftSectionWallet .walletValues .copyIcon:hover{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5) !important;
  }

  .leftSectionWallet .walletDiv {
    margin-top: 1rem;
    background-color: #fcfafa;
    padding: 10px;
    height: 248px;
    border-radius: 8px;
    padding: 0.4rem;
  }
  .leftSectionWallet .walletDiv .assets{
    background-color: rgba(130, 71, 229, 0.1);
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
  }

  .rightSectionWallet{
    background-color: rgba(166, 112, 192, 0.05);
    width: 48%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid rgba(2, 0, 10, 0.25);
    margin-left: 1rem;
  }

  .rightSectionWallet .inner-rightSection{
    margin: 0% 1%;
    margin-bottom: 0;
  }
  .rightSectionWallet .inner-rightSection .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .rightSectionWallet .inner-rightSection .header p{
    margin: 0;
    color: rgba(2, 0, 10, 0.8);
    font-size: 18px;
    font-weight: 600
  }
  .rightSectionWallet .inner-rightSection .header p:last-child{
    color:#7c037b;
    float: right;
    font-weight: 500
  }
   .rightSectionWallet .inner-rightSection .container{
    margin-top: 4%;
    background-color: #fcfafa;
    padding: 10px;
    min-height: 25rem;
    border-radius: 8px;
    padding: 0.4rem;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    color:grey;
    font-size: 20px;
    font-weight: 500;
  }
}

.borrow{
  display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.borrow{
  .top-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 319px;
    background: #540f7a;
    padding: 100px;
    color: #fcfafa;
    border-bottom: 10px solid #a670c0;
  }
  .top-section h1{
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fcfafa;
  }
  .top-section p{
    color: rgba(252, 250, 250, 0.8);
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    font-family: "Rubik";
    text-align: center;
    width: 60%;
    margin-top: 30px;
  }

  .toggle-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
    border: 1px solid rgba(2, 0, 10, 0.25);
    border-radius: 48px;
    transform: translateY(-50%);
    width: 26.25rem;
  }

  .toggle-btns .active{
    background: #540f7a !important;
    color: #fcfafa !important;
    cursor: pointer;
  }
  .toggle-btns button{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    outline: none;
    border: none;
    width: 50%;
    border-radius: 64px;
    height:40px;
  }
  .connection-stats{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(2, 0, 10, 0.25);
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    border-radius: 12px;
    margin: 2.5rem 0px;
    width: 95%;
    padding: 20px;
    gap: 10px;
  }
  .connection-stats .deposit-inner-div{
    width:50%;
    display: block;
    background: rgba(166, 112, 192, 0.05);
    border: 1px solid rgba(2, 0, 10, 0.25);
    border-radius: 8px;
    padding: 20px;
  }
  .b-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .a-icon{
    display: flex;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    text-align: start;
    width:40%
  }

  .tether1{
    width:18% !important;
  }
  
  .assets-val{
    background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    // text-fill-color: transparent;
    margin-left: 10px;
    font-size: 18px;
    line-height: 42px;
    font-weight: 500;
  }

   .d-bottom{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
    border: 1px solid #540f7a;
    // padding-right:5px;
  }
  .connection-stats .assets-inner-div{
    width:50%;
    display: block;
    background: rgba(166, 112, 192, 0.05);
    border: 1px solid rgba(2, 0, 10, 0.25);
    border-radius: 8px;
    padding: 20px;
  }

  .assets-inner-div .a-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

   .a-bottom{
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: linear-gradient(90deg, #540f7a 0%, #7c037b 23.88%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    cursor: pointer;
    border: 1px solid #540f7a;
  }

  .bond-details{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;
    margin-bottom: 25px;
  }
   .section-nav{
    background: #fcfafa;
    border: 1px solid rgba(84, 15, 122, 0.25);
    border-radius: 12px;
    min-width: 300px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.3rem 0;
    min-height: 644px;
  }

   #p-network{
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
     margin-top: 0;
     border:0px;
  }

   #p-network button{
    font-style: normal;
    font-weight: 400 !important;
    font-size: 18px;
    line-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #7c037b;
    width: 90%;
    background: rgba(217, 217, 217, 0.25);
    border: 1px white;
    gap:5px;
  }

  .section-nav .toggle-nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:10px;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
  }
  .section-nav .toggle-nav-active{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap:10px;
    cursor: pointer;
    margin-top: 10px;
    background-color: #540f7a;
    color:#ffffff;
  }

  .section-nav .toggle-nav img{
    margin-left: 15px;
    vertical-align: middle;
  }

  .section-nav .toggle-nav-active img{
    margin-left: 15px;
    vertical-align: middle;
  }

  .section-nav div p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
  }

  .borrow .section-nav div p{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 42px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 20px;
  }

   .section-content{
    border: 1px solid rgba(84, 15, 122, 0.25);
    border-radius: 12px;
    background: #fcfafa;
    margin-left: 30px;
    width: 1030px;
    min-height: 644px;
  }

  .main-content{
    height: 524px;
    overflow: auto;
    padding: 1.5rem ;
    padding-top: 0 !important;
}
  .main-content .inner-div{
    display: flex;
    flex-wrap: wrap;
}
.main-content .inner-div .cards{
  padding: 1rem !important;
  flex: 0 0 auto;
   width: 33.33333333%;
}
.main-content .inner-div .cards .main-card{
  background: rgba(166, 112, 192, 0.05);
  border-radius: 8px;
  box-shadow: 0 0 8px 0px #d2d2d2;
  padding-bottom: 1px;
}
.main-content .inner-div .cards .main-card img{
  width: 100%;
  border-radius: 6px;
  height: 115px;
  filter: brightness(0.3);
}
.main-content .inner-div .cards .main-card .header{
  color: #7C037B;
  font-weight: 600;
  padding-left: 12px;
  text-transform: capitalize;
  padding-top: 10px;
  text-align: left;
}
.main-content .inner-div .cards .main-card .row{
    background: #FCFAFA;
    border: 1px solid rgba(2, 0, 10, 0.25);
    font-size: 13px;
    padding: 11px 9px;
    border-radius: 4px;
    margin: 10px;
    font-weight: 400;
   
}
.main-content .inner-div .cards .main-card .row-span{
  float: right;
  padding-right: 11px;
  font-weight: 400;
  font-size: 12px;
  color: #7C037B;
  width: auto;
  margin-left: auto;
}
.main-content .inner-div .cards .main-card .commodity-btn{
  text-align: center;
  background: linear-gradient(90deg, #540F7A 0%, #7C037B 23.88%);
  border-radius: 4px;
  padding: 10px;
  color: white;
  border-radius: 6px;
  // margin-top: 15px;
  cursor: pointer;
  margin: 10px;
}
  .receipt-footer{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0px 24px;
  }
  .receipt-footer p{
    font-style: normal;
    font-weight: 400 !important;
    font-size: 16px;
    line-height: 42px;
    display: flex;
    align-items: center;
    color: rgba(2, 0, 10, 0.7) !important;
  }
  .receipt-footer span{
    margin-right: 10px;
    color: #7c037b;
    font-weight: 500 !important;}

   .section-content #section-txt{
    font-size: 2.2rem;
    line-height: 0px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    color: #02000a;
    padding: 1.9rem;
    border: unset;
  }

  .thead{
    display: table;
    width: 100%;
    table-layout: fixed;
    background-color: #f0e2f6;
    text-align: left;
    height: 49px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
  }

  .thead th{
    font-weight: 400;
    text-align: center;
  }
  
  .section-content h3{
    font-size: 26px;
    line-height: 0px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    color: #02000a;
    padding: 1.5rem;
    border: unset;
  }

  .inner-section{
    margin: 0 15px;
    display: flex;
    justify-content: center;
  }

  .leftSectionWallet{
    background-color: rgba(166, 112, 192, 0.05);
    width: 48%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid rgba(2, 0, 10, 0.25);
  }

  .leftSectionWallet .wallet-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .leftSectionWallet .wallet-heading p{
    margin: 0;
    color: rgba(2, 0, 10, 0.8);
    font-size: 19px;
    font-weight: 600;
  }

  .leftSectionWallet .wallet-heading .connectedText{
    background-color: #1a9e69;
    padding: 5px 20px;
    float: right;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #fcfafa;
  }

  .inner-rightSection{
    // background-color: rgba(166, 112, 192, 0.05);
    // // width: 48%;
    // padding: 15px;
    // // border-radius: 8px;
    // margin-bottom: 30px;
    // border: 1px solid rgba(2, 0, 10, 0.25);
  }

  .inner-rightSection .wallet-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inner-rightSection .wallet-heading p{
    margin: 0;
    color: rgba(2, 0, 10, 0.8);
    font-size: 19px;
    font-weight: 600;
  }

  .inner-rightSection .wallet-heading .connectedText{
    // background-color: #1a9e69;
    padding: 5px 20px;
    float: right;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #7c037b;
  }

  .walletSubtitle{
    font-size: 18px;
    text-align: left;
    color: rgba(2, 0, 10, 0.5);
    margin: 1rem 0;
    font-weight: 600;
  }

  .walletValues{
    background-color: rgba(130, 71, 229, 0.1);
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
  }

  .leftSectionWallet .walletValues .copyIcon{
    padding: 6px 12px;
    cursor: pointer;
    box-shadow: 0 0 5px 1px #dddddd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .leftSectionWallet .walletDiv {
    margin-top: 1rem;
    background-color: #fcfafa;
    padding: 10px;
    height: 248px;
    border-radius: 8px;
    padding: 0.4rem;
  }
  .leftSectionWallet .walletDiv .assets{
    background-color: rgba(130, 71, 229, 0.1);
    padding: 8px;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    margin-bottom: 0.4rem;
    display: flex;
    align-items: center;
  }
  .rightSectionWallet{
    background-color: rgba(166, 112, 192, 0.05);
    width: 48%;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 30px;
    border: 1px solid rgba(2, 0, 10, 0.25);
    margin-left: 1rem;
  }

  .rightSectionWallet .inner-rightSection{
    margin: 0% 1%;
    margin-bottom: 0;
  }
  .rightSectionWallet .inner-rightSection .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .rightSectionWallet .inner-rightSection .header p{
    margin: 0;
    color: rgba(2, 0, 10, 0.8);
    font-size: 18px;
    font-weight: 600
  }
  .rightSectionWallet .inner-rightSection .header p:last-child{
    color:#7c037b;
    float: right;
    font-weight: 500
  }
   .rightSectionWallet .inner-rightSection .container{
    margin-top: 4%;
    background-color: #fcfafa;
    padding: 10px;
    min-height: 25rem;
    border-radius: 8px;
    padding: 0.4rem;
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
    color:grey;
    font-size: 20px;
    font-weight: 500;
  }
  .rightSectionWallet .walletDiv {
    margin-top: 1rem;
    background-color: #fcfafa;
    padding: 10px;
    height: 398px;
    border-radius: 8px;
    padding: 0.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .lending .section-content{
    border: 1px solid rgba(84, 15, 122, 0.25);
    border-radius: 12px;
    background: #fcfafa;
    margin-left: 30px;
    width: 650px;
    min-height: 644px;
  }

  .borrow .section-content{
    border: 1px solid rgba(84, 15, 122, 0.25);
    border-radius: 12px;
    background: #fcfafa;
    margin-left: 30px;
    width: 650px;
    min-height: 644px;
  }
 .borrow .main-content .inner-div .cards{
    padding: 0.5rem !important;
   
  }

 }

@media screen and (max-width: 768px) {
 .new-home{
  .grid-con{
    min-height: 310px;
  }
}

.lending .section-nav{
  background: #fcfafa;
  border: 1px solid rgba(84, 15, 122, 0.25);
  border-radius: 12px;
  min-width: 200px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem 0;
  min-height: 644px;
}
.lending .section-content{
  border: 1px solid rgba(84, 15, 122, 0.25);
  border-radius: 12px;
  background: #fcfafa;
  margin-left: 30px;
  width: 500px;
  min-height: 644px;
}

.borrow .section-nav{
  background: #fcfafa;
  border: 1px solid rgba(84, 15, 122, 0.25);
  border-radius: 12px;
  min-width: 200px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.3rem 0;
  min-height: 644px;
}
.borrow .section-content{
  border: 1px solid rgba(84, 15, 122, 0.25);
  border-radius: 12px;
  background: #fcfafa;
  margin-left: 30px;
  width: 500px;
  min-height: 644px;
}
}
@media screen and (max-width: 768px) {
 .borrow .main-content .inner-div .cards{

     width: 50%;
  }
 .new-home{
  .sub-con-1 p{
    font-size: 30px;
    margin-top: 16px;
  }
  .sub-con-1 h1{
    font-size: 64px;
  }
  .sub-con-2{
    width: 90%;
    margin-inline: auto;
    padding-inline: 30px;
  }
  .sub-con-2 p{
   font-size: 18px;
  }
  .grid-con h2{
    font-size: 28px;
  }
  .sub-con-3{
   flex-direction: column;
   margin: 25px 0;
  }
  .sub-con-3 button{
   width: 18rem;
   font-size: 22px;
  } 
  .sub-con-4{
   grid-template-columns: repeat(1,1fr); 
   gap: 15px; 
  }
}
}
